*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    
}
.navbar{
    background-color: black;
    color: white;
    display: inline-flex;
    
}
.navbar ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    display: inline-block ;
    padding: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;

    padding: 10px;
    justify-content: flex-end;
}
.left{
    background: url(bg1.jpg) ;
    background-size: cover;
    height: 100%;
    width: 50%;
    position: fixed;
    display: flex;
}
.right{
    background: url(bg3.jpg);
    background-size: cover;
    background-color: aqua;
    margin-left: 50%;
    height: 100%;
   
    width: 50%;

}
.content{
    padding: 10%;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    transition: 0.5s ease;
    border-radius: 30px;
    
    
}
.content:hover{
    transform: scale(1.1);
    background-color: white;
    color: black;
}
.card{
    background-color: rgba(255, 0, 0, 0);
    color: wHITE;
    margin: 8%;
    height: 100px;
    width: 80%;
    display: inline-flex;
    transition: 1s ease;
    border-radius: 10px;
    padding: 2%;
    
}
.card:hover{
    transform: scale(1.2);
}
.date{
    background-color: rgb(240, 209, 173);
    height: ;
    width: 20%;
    align-items: center;
    color: black;
    border-radius: 10px;
    transition: 0.5s ease;
    

}
.date:hover{
    background-color: rgb(0, 218, 247);
}
.event{
    background-color: rgb(0, 0, 0);
    width: 70%;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s ease;
    
    
}
.event:hover{
    background-color: white;
    color: black;
}
.event p{
    padding: 5%;
}
.date h1{
    padding: 10px;
    border :10%
}
